<p>Hi <%= @recipient_first_name %>,</p>
<p><%= @respondent_name %> replied to <b><%= link_to @issue_title, @issue_link %></b>:</p>
<p><%= @response_content_html %></p>
<hr>
<p>See you soon!</p>
<p>--The Iqueue Team</p>

