<%= form_for [@issue, @response], :html => {:role => "form"} do |f| %>
<div class="form-group">
  <%= f.text_area :description, class:"form-control", placeholder:"Add a reply..."  %>
  </div>
  <%= f.submit "Reply", class:"btn btn-primary" %>
<% end %>