<div class="issue-description"><%=  simple_format(auto_link(@issue.description, :sanitize => false), {}, :sanitize => false) %></div>

<%= render 'course_issue_show_buttons' %>

<ul class="inline-list meta-info">
  <li><%= issue_name_and_time_ago(@issue) %></li><br>git add
  <li><%= added_to_instructor_queue(@issue) %></li>
</ul>