<div class="issue-description"><%= format_and_sanitize_text(@issue.description) %></div>   

<%= render 'course_issue_show_buttons' %>

<ul class="inline-list meta-info">
  <li><%= issue_name_and_time_ago(@issue) %>
</ul>