<% if @issue.responses.any? %>
<ul class="no-bullets">
  <% @issue.responses.each do |response| %>
  <li>
    <p><%= image_tag(current_user.image_gravatar, :alt => "Gravatar", class:"gravatar") %> <%= display_name(response.user)%>, <%= time_ago_in_words(response.created_at, :seconds => true ) %> ago:</p>
    <blockquote>
      <%= auto_link(simple_format(response.description)) %>
    </blockquote>
  </li>
  <% end %>
</ul>
<% end %>