 <li>
  <%= link_to add_to_queue_path(@course,issue) do %>
    <span class="label label-success">
      <span class="glyphicon glyphicon-plus-sign"></span>
      Enqueue
      </span>
  <% end %>
   </li>