<h1><%= display_name(current_user) %>'s Queue</h1>

<% if @instructor_queue.count == 0 %>
  <p>There are currently no items in your queue.</p>
<% else %>

<ul class="issues-list">
  <% @instructor_queue.each do |issue| %>
    <%= render 'issues_in_queue', :issue => issue %>
  <% end %>
</ul>
<% end %>