<div class="row list-header">
    <div class="col-sm-12">
      <h1><%= display_name(current_user) %>'s Queue</h1>
    </div>
  </div>
<% if @instructor_queue.count == 0 %>
  <p class="no-items">There are currently no items in your queue.</p>
<% else %>

<ul class="issues-list" id="instructor_refresh">
  <% @instructor_queue.each do |issue| %>
    <%= render 'issue_button_link', :issue => issue %>
  <% end %>
</ul>
<% end %>
