<div class="row list-header">
    <div class="col-sm-12">
    <%= render 'add_issue_unless_admin' %>
      <h1 class="draggable">Open Issues</h1>
    </div>
  </div>

<div class="row">
  <div class="col-sm-12">
  <%= render 'unresolved_issues' %>
  </div>
</div>