<% if @resolved_issues.any? %>
  <div class="row list-header">
      <div class="col-sm-12">
        <h1>Resolved Issues</h1>
      </div>
    </div>
  <ul class="button-list">
    <% @resolved_issues.each do |issue| %>
    <% #TODO: turn this into a helper method %>
    <li><%= link_to "#{issue_poster_name(issue)}: #{issue.title.titleize} (#{pluralize(issue.responses.count, 'response')})", course_issue_path(@course, issue) %></li>
    <% end %>
  </ul>
<% end %>