<div class="row list-header">
    <div class="col-sm-12">
      <h1>Resolved Issues</h1>
    </div>
  </div>
  <div class="row">
  <div class="col-sm-12">
<ul class="issues-list">
  <% @resolved_issues.each do |issue| %>
    <li>
      <%= link_to course_issue_path(@course, issue) do %>
        <button>
          <span class="issue-title"><%= issue.title.capitalize %></span>
          <ul class="meta-info">
            <%= issue_name_and_time_ago(issue) %>
            <%= render 'issue_responses', :count => issue.responses.count if issue.responses.any? %>
          </ul>
        </button>
      <% end %>
    </li>
  <% end %>
</ul>
 </div>
</div>

