<% if @resolved_issues.any? %>
  <div class="row list-header">
      <div class="col-sm-12">
        <h1>Resolved Issues</h1>
      </div>
    </div>
  <ul class="button-list" id="resolved_issue_refresh">
    <% @resolved_issues.each do |issue| %>
      <%= render 'resolved_issues_each', :issue => issue %>
    <% end %>
  </ul>
<% end %>