<div class="row list-header">
  <div class="col-sm-12">
    <%= link_to "New issue", new_course_issue_path(@course), class:"btn btn-default pull-right action-button" if !current_user.admin %>
    <h1>Open Issues</h1>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <% if @unresolved_issues.any? %>
      <ul class="issues-list">
        <% @unresolved_issues.each do |issue| %>
            <%= render 'issue_link', :issue => issue if !issue.archived? %>
        <% end %>
      </ul>
    <% else %>
      <p class="no-items">No issues posted. 
        <% if !current_user.admin %>
          <%= link_to "Add one?", new_course_issue_path(@course), :class => "add-one" %>
        <% end %>
      </p>
    <% end %>
  </div>
</div>