<div class="row list-header">
  <div class="col-sm-12">
    <%# if current_user.admin %>
    <%= link_to "New Course", new_course_path, class:"btn btn-default pull-right action-button" %>
    <%# end %>
    <h1>Courses</h1>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
   <% if @courses.any? %>
   <ul class="issues-list">
    <% @courses.each do |course| %>
    <li>
      <%= link_to course do %>
      <button><span class="course-title"><%= course.name.capitalize %></span></button>
      <% end %>
    </li>
    <% end %>
  </ul>
  <% else %>
  <p>No courses have been added :-/</p>
  <% end %>
</div>
</div>