<div class="row list-header">
  <div class="col-sm-12">
  <%   if current_user.admin %>
    <%= link_to "New Course", new_course_path, class:"btn btn-default pull-right action-button" %>
    <% end %>
    <h1>Courses</h1>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
   <% if @courses.any? %>
   <ul class="issues-list">
    <% @courses.each do |course| %>
    <li>
      <%= link_to course do %>
      <button><span class="course-title"><%= course.name %></span></button>
      <% end %>
    </li>
    <% end %>
  </ul>
  <% else %>
  <p class="no-items">No courses have been added :-/ 
    <%= link_to "Add one now?", new_course_path %></p>
    <% end %>
  </div>
</div>