// LOGIN VIEW
// ----------------------------
.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  //margin-top: -40px;
  margin-left: -100px;
   text-align: center;
}
.login-button {
  max-width: 200px;
}


// LISTS
// ----------------------------
.button-list {
  list-style:none;
  margin-left:0;
  padding-left:0;

  li {
    padding:5px 10px;
    margin-bottom:10px;    
    background-color:#eeeeee;
    cursor:pointer;
  }
}

.errors { //this is for custom error messages in forms.
  color: red;
}