//VARIABLES
// ----------------------------
$light-gray:    #c7c9cd;

// APP BRAND
// ----------------------------

.navbar-brand {
  margin-top: 5px;
  position: relative;
    .app-brand {
      position: absolute;
      bottom: 0;
    }

    .app-name {
      position: absolute;
      bottom: 0;
      left:40px;
    }
}



// LOGIN VIEW
// ----------------------------
.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  //margin-top: -40px;
  margin-left: -100px;
   text-align: center;
}
.login-button {
  max-width: 200px;
}


// LOGIN VIEW
// ----------------------------
.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  //margin-top: -40px;
  margin-left: -100px;
   text-align: center;
}
.login-button {
  max-width: 200px;
}


// ISSUES LIST
// ----------------------------
.issues-list {
  list-style:none;
  margin-left:0;
  padding-left:0;

    li {
      padding:5px 10px;
      margin-bottom:5px; 
      border:1px solid #eeeeee;
      background-color: #ffffff;
      cursor:pointer;

      &:hover {
        background-color:#f5f5f5;
      }

      a:hover {
        text-decoration: none;
      }

      ul {
        li {
          border: none;
          padding:2px 10px 0 0;          
          background-color:inherit;
        }
      }
    }
}


// ISSUE REPLIES
// ----------------------------
.issue-replies {
  h3 {
    border-bottom: 1px solid $light-gray;
    padding-bottom: .5em;
  }
  .replier {
    margin-bottom: 5px;
    font-size: smaller;
    color:$light-gray;

  }
  li, blockquote {
    margin-bottom:0;
  }
}

// META INFO
// For example: info about an issue, such as author or date-time posted
// ----------------------------
.meta-info {
  font-size: smaller;
  color:$light-gray;  
}

// LISTS
// ----------------------------
.no-bullets {
  list-style:none;
  margin-left:0;
  padding-left:0;

  li {
    padding:5px 10px;
    margin-bottom:10px;
  }
}

// FORMS
// ----------------------------
.errors { //this is for custom error messages in forms.
  color: red;
}