@import "variables";
@import "mixins";


// BASE
// ----------------------------
.container {
  // padding-top: 2em;
  // padding-bottom: 2em;
}

.padding-on-top {
  margin-top:60px;
}

// LISTS
// ----------------------------
.no-bullets {
  list-style:none;
  margin-left:0;
  padding-left:0;

  li {
    padding:5px 10px;
    margin-bottom:10px;
  }
}

// Horizontal lists
.inline-list {
  list-style:none;
    margin-left:0;
  padding-left:0;
  li {
    display: inline-block;
    border: none;
    padding:2px 0 0 0;          
    background-color:inherit;
  }
}

// APP BRAND
// ----------------------------

.navbar-brand {
  margin-top: 5px;
  position: relative;
    .app-brand {
      position: absolute;
      bottom: 0;
    }

    .app-name {
      position: absolute;
      bottom: 0;
      left:40px;
      width: 200px;
    }
}

// LOGIN VIEW
// ----------------------------

  .centered {
    position: fixed;
    top: 40%;
    left: 40%;
     text-align: center;
  }

// GRAVATAR
// ----------------------------

.gravatar {
  border: 1px solid #fefefe;
  width: 20px;
  height: 20px;
  @include roundcorners(5px);
}


// ISSUES LIST
// ----------------------------

.list-header, .form-header {
  padding: 8px 0;
  h1 {
    margin-top: 5px;
    font-size:  16px;
  }
   h2 {
    font-size:  16px;
  }
  .action-button {
    margin-top: -5px;
  }
}
.issues-list {
  list-style:none;
  margin-left:0;
  padding-left:0;

  li {

    button {
      padding:5px 10px;
      width: 100%;
      margin-bottom:5px; 
      border:1px solid #eeeeee;
      background-color: #ffffff;
      cursor:pointer;
      text-align: left;

      &:hover {
        background-color:#f5f5f5;
      }

      .issue-title {
        color: $link-color;
      }

      ul.meta-info {
        float: right;
        list-style:none;

        li {
          display: inline-block;
          border: none;
          padding:2px 0 0 0;          
          background-color:inherit;
        }
      }
    }
  }
}

// ISSUE REPLIES
// ----------------------------
.issue-replies {
  font-size:12px;
 
  h2 {
    border-bottom: 1px solid $light-gray;
    padding-bottom: .5em;
    margin-bottom: 0;
  }
  p {
    margin-bottom: .5em;
    color: $medium-gray;
  }
  ul {

    li {
      padding-left: 0;

      blockquote {
        margin-bottom:5px;
        p {
          margin-bottom:5px;
          font-size:12px;
          color:#000000;
        }
      }
    }
   }
}

// META INFO
// Eg info about an issue, such as author or date-time posted
// ----------------------------
.meta-info {
  font-size:x-small;
  color:$light-gray;  
}

// FORMS
// ----------------------------
.errors { //this is for custom error messages in forms.
  color: red;
}
.help-text {
  color:$light-gray;
  font-size: 11px;
  .code-sample {
    font-family: monospace;
  }
}

// MEDIA QUERIES (RESPONSIVE)
// ----------------------------

//iPhone
@media only screen and (max-width: 480px) {

  //LOGIN VIEW
  // ----------------------------
   .centered {
      // Offset based on size of containing block
      //TODO - use JS to calculate this value dynamically
      margin-left: -90px;

      .login-button {
         font-size: 1.8em;
      }
    }

  //ISSUES LIST
  // ----------------------------

  .list-header {
    h1 {
      font-size:18px;
    }
    
  }
    .issues-list {
    
      li {      
        ul.meta-info {
          float: none;
          padding-left:0;
          
          li {
            padding-left:0;

              a .issue-title {  
              font-size:30px;
            }
            
          }
        }
      }
    }

}  // end iphone


