<% if @course && /(courses)+.\d/.match(request.env['PATH_INFO']) && request.env['PATH_INFO'].length < 12 %>
  <% if current_user.primary_course_id %>
    <li><%= link_to "Remove #{@course.name} as your primary course.", action: "remove_primary_course", course_id: @course.id %></li>
  <% else %>
    <li><%= link_to "Make this your primary course.", action: "add_primary_course", course_id: @course.id %></li>
  <% end %>
<% end %>