<%= image_tag("handraise_noun_project_12043_gray.svg", :alt => "Handraise icon", :size => "25x25", class:"app-brand") %> 
<div class="app-name">
<%= @course ? "#{@course.name} Issue Queue" : "Issue Queue" %>
</div>